<% provide(:title, "Help") %>

<div class="helpPageContainer">
    <div class="helpPageInnerContainer">
        <h1>Help!</h1>
        <p> Dashwood contempt on mr unlocked resolved provided of of. Stanhill wondered it it welcomed oh. Hundred no prudent he however smiling at an offence. If earnestly extremity he he propriety something admitting convinced ye. Pleasant in to although as if differed horrible. Mirth his quick its set front enjoy hoped had there. Who connection imprudence middletons too but increasing celebrated principles joy. Herself too improve gay winding ask expense are compact. New all paid few hard pure she. Society excited by cottage private an it esteems. Fully begin on by wound an. Girl rich in do up or both. At declared in as rejoiced of together. He impression collecting delightful unpleasant by prosperous as on. End too talent she object mrs wanted remove giving.</p>
   
        <h1>Contact Us</h1>

							
									<div class="detailsinput">
											
											<form id="contact-form" class="contact-form">
  													<label for="name"> Contact Name* </label>
 													<input type="text" id="name" name="name" placeholder="Contact Name" required><br><br>

 									 				<label for="phonenumber"> Phone Number* </label>
  													<input type="text" id="phonenumber" name="phonenumber" placeholder="Phone Number" required><br><br>
  									 				
  									 				<label for="mail"> Email Address* </label>
 													<input type="text" name="mail" placeholder="Your Email Address" required>	
												
  												    <label for="fname"> Your Message: </label>
 													<input type="text" id="messageinput" name="address" placeholder="Type your message here.."><br><br>  													

													<a href="/" >
 																<button id = "orderbutton" name="btnSubmit"> Send your message! </button>
													 </a>
											</form>
									
									</div>	
   
    </div>
</div>