<% provide(:title, "Home") %>

<div class="slider-wrapper">

    <section class="section1" id="section1">
        
        <div class="item1">              
            <a href="http://localhost:3000/products" class="title-chairs">Chairs</a>
        </div>


        <div class="item2">
            <a href="http://localhost:3000/products" class="title-desks">Desks</a>
        </div>  
        
        
        <div class="item3">
        <a href="http://localhost:3000/products" class="title-lights">Lights</a>
        </div>    
        
    </section>
    
    <!--
    <section class="section2" id="section2">
        <a href="#section1"></a>
        <div class="item2">
        <p class="title-desks">Desks</p>
        </div>      
        <a href="#section3"></a>
    </section>
    
    <section class="section3" id="section3">
        <a href="#section2"></a>
        <div class="item3">
        <p class="title-lights">Lights</p>
        </div>        
        <a href="#section1"></a>
    </section>
    -->


<h2>Our Best Seller</h2>
<!-- This is causing an error (had to remove the ruby syntax remember to add back) 'layouts/popular' -->


</div>



<!--
<div class="mainCont">
<%= image_tag("hoffice logo.png", alt: "Welcome Logo", :class => "welcomeIm") %>    
    
<h1>Home</h1>
<p>Welcome to Hoffice!</p>
<br>
<br>
<p>Work Remotely in Style</p>
<br>

<%=render 'layouts/categories'%> 




</div>
-->