<div class="paymentThankYouContainerOuter">
    <div class = "thankYouContainerMiddle">
        <div class="thankYouSpacer">
    </div>
        <h1> Thank you for your payment! </h1>
        <h2> Just rememebered you need another _> Chair? Lamp? Desk? </h2>
        <h2> Head back over to our catalog and find exactly what you need! </h2>
        <a href="/" >
                        <h3 class="backToItemsPageButton">  Our Catalog! </h3>                        
        </a>

    </div>
</div>
