<div class="ordersContainerEdit">


<div class= "ordersSpacer03">
</div>

<h1>Editing Order</h1>

<div class="formContainer">
    <%= render 'form', order: @order %>
</div>

<div class= "ordersSpacer04">
</div>

<div class="showBackContainer">
    <%= link_to 'Show', @order %> |
    <%= link_to 'Back', orders_path %>
</div>

</div>