// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#itemsContainer {
  width: 100%;
  text-align: center;
  background-color: #ffffff;
}

#itemsContainer h1 {
  display: block;
  color: #4caf50;
  text-align: center;
  text-decoration: none;
  padding: 20px;
}

.itemhols {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 100%;
  min-height: 500px;
  background-color: #5c63a617;
  border: 3px dashed #5c63a617;
}

@media only screen and (min-width: 768px) {
  .itemhols {
    width: 22%;
    display: inline-block;
  }
}

.itemholsshow {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: inline-block;
  width: 40%;
  min-height: 150px;
  background-color: #5c63a617;
  border: 3px dashed #5c63a617;
}

.itemhols img {
  height: 170px;
  width: 220px;
  border: 3px dashed #b3e1ffe1;
}

.itemhols h1 {
  display: block;
  color: #4caf50;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.itemhols p {
  display: block;
  color: #4caf50;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  font-size: 16px;
  width: 80%;
  margin: auto;
}

.itemholsIm {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.itemSingleContainer {
  background: #b3e1ffe1;
}

.imageBig img {
  width: 40%;
  height: 40%;
}
